In [2]:
# Import dependencies
import matplotlib.pyplot as plt
import requests
import pandas as pd
import numpy as np
from config import gkey
import gmaps
import os

In [3]:
# Import file from Part 1, and read into a dataframe
weather_data_df = pd.read_csv("../WeatherPy/OutputData/cities_weather_data.csv")
weather_data_df

,City,Latitude,Longitude,Max Temp.,Humidity,Cloudiness,Wind Speed,Country,Date,Date Converted
0,severo-kurilsk,50.6789,156.1250,34.48,95,72,5.73,RU,1619117176,2021-04-22 18:46:16
1,bambous virieux,-20.3428,57.7575,79.00,89,75,10.36,MU,1619117177,2021-04-22 18:46:17
2,jamestown,42.0970,-79.2353,37.99,55,90,21.85,US,1619117178,2021-04-22 18:46:18
3,vardo,70.3705,31.1107,33.80,93,75,19.57,NO,1619117178,2021-04-22 18:46:18
4,busselton,-33.6500,115.3333,59.00,77,93,4.00,AU,1619116919,2021-04-22 18:41:59
...,...,...,...,...,...,...,...,...,...,...
535,edirne,41.6772,26.5560,51.89,73,100,6.29,TR,1619117453,2021-04-22 18:50:53
536,thai binh,20.4500,106.3333,78.80,89,20,8.05,VN,1619117453,2021-04-22 18:50:53
537,alamosa,37.4695,-105.8700,53.60,19,40,16.11,US,1619117453,2021-04-22 18:50:53
538,dores do indaia,-19.4633,-45.6017,80.73,37,0,5.41,BR,1619117454,2021-04-22 18:50:54
539,tigil,57.8000,158.6667,31.86,97,100,3.13,RU,1619117454,2021-04-22 18:50:54

In [4]:
# Add city lat and long to a new df
cities = weather_data_df[["Latitude", "Longitude"]].astype(float)

# Add humidity to a new df
humidity = weather_data_df["Humidity"].astype(float)

In [ ]:
#print(cities)
#print(humidity)

In [ ]:
# Configure gmaps
gmaps.configure(api_key=gkey)

In [5]:
# Configure gmaps
gmaps.configure(gkey)

In [7]:
# Create heatmap for data depending on humidity
figure_layout = {
    'width': '600px',
    'height': '500px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

# Create a gmaps figure
fig = gmaps.figure(layout=figure_layout)

heat_layer = gmaps.heatmap_layer(cities, weights=humidity, 
                                 dissipating=True)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(border='1px solid black', height='500px', margin='0 auto 0 auto', padding='1px', wi…

In [11]:
# Change max intensity and point radius of the map
heat_layer.max_intensity = 100
heat_layer.point_radius = 15

In [ ]:
# Create dataframe for locations with ideal conditions
weather_data_ideal = weather_data_df.loc[(weather_data_df["Max Temp."] > 70) & (weather_data_df["Max Temp."] < 80) & 
                                        (weather_data_df["Wind Speed"] <= 10) & (weather_data_df["Cloudiness"] <= 0), :]
weather_data_ideal

In [ ]:
# Create markers on heatmap for hotel locations
marker_locations = weather_data_ideal[['Latitude', 'Longitude']]